# early.target is an internal service mounts early filesystems.
# e.g. /proc, /sys, /run, /dev
# This has waits-for dependencies on mount@ to open the dinit control socket.
# Hence mount@ must be a scripted service.

type = internal

options: starts-rwfs
waits-for: mount@/proc
waits-for: mount@/sys
waits-for: mount@/run
waits-for: mount@/dev
