# Virtual service run before login is enabled.

type = internal
restart = false

options: runs-on-console
depends-on: local.target
waits-for: messagebus
waits-for: syslog
